* {
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

.heading { position: relative; height: 99vh; overflow: hidden; background-color: #000000; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; z-index: 1000; }

.fixed-content {
  position: absolute;
  left: 3vw;
  z-index: 4;
}

.heading h1 {
  font-size: 10vw;
  z-index: 3;
  color: white;
}

.heading h2 {
  padding-left: 5px;
}

#cursor {
  color: white;
  animation: cursor-blink 0.6s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.blob-header {
  position: absolute;
  width: 15vw;
  height: auto;
  z-index: 1;
  
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

.blob-type-1 {
  animation: mv-pattern1 20s linear infinite;
  animation-direction: alternate;
}

.blob-type-2 {
  animation: mv-pattern2 20s linear infinite;
  animation-direction: alternate;
}

.blob-type-3 {
  animation: mv-pattern3 20s linear infinite;
  animation-direction: alternate;
}

.blob-header path {
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 5,5;
  stroke-linejoin: round;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes mv-pattern2 {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  
  to {
    transform: translate(10vw, -25vh) rotate(360deg);
  }
}

@keyframes mv-pattern1 {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  
  to {
    transform: translate(-10vw, -5vh) rotate(360deg);
  }
}

@keyframes mv-pattern3 {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  
  to {
    transform: translate(20vw, 5vh) rotate(-360deg);
  }
}

.content-wrapper {
  min-height: 60vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  margin-top: -15px;
  box-shadow: 0 4px 2px -2px #eeeeee;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-arrow {
  fill: #ffffff;
  position: absolute;
  bottom: 5vh;
  left: 47.5vw;
  width: 5vw;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .heading h1 { font-size: 17.5vw; }
  .blob-header { width: 30vw; }
  #nav-arrow { width: 8vw; left: 46vw; }
}
